<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
   <table>
       <tr><td><h3>Product details</h3></td></tr>
       <tr> <td>No Records Found !!!</td></tr>
   </table>
</body>
{{> footer}}
</html>